.mobile-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 768px) {
	.mobile-footer {
		display: flex;
	}
}

@media (min-width: 769px) {
	.mobile-footer {
		display: none;
	}
}
